[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rfast"]
	path = Rfast
	url = https://github.com/rfastofficial/rfast
[submodule "Rfast2"]
	path = Rfast2
	url = https://github.com/rfastofficial/rfast2
